{% extends 'MasterLayout.html' %}

{% block title %}Address{% endblock title %}

{% block body %}
      <!-- My Account Start -->
      <div class="my-account">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="page-container-title">
                            <h2>My Account</h2>                                 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="my-account.html" role="tab"><i class="fa fa-tachometer-alt"></i>Dashboard</a>
                            <a class="nav-link" id="orders-nav" data-toggle="pill" href="my-orders.html" role="tab"><i class="fa fa-shopping-bag"></i>Orders</a>
                            <a class="nav-link" id="payment-nav" data-toggle="pill" href="my-payment.html" role="tab"><i class="fa fa-credit-card"></i>Payment Method</a>
                            <a class="nav-link" id="address-nav" data-toggle="pill" href="my-address.html" role="tab"><i class="fa fa-map-marker-alt"></i>address</a>
                            <a class="nav-link" id="account-nav" data-toggle="pill" href="my-account-details.html" role="tab"><i class="fa fa-user"></i>Account Details</a>
                            <a class="nav-link" href="index-2.html"><i class="fa fa-sign-out-alt"></i>Logout</a>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-sm-12">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" aria-labelledby="dashboard-nav">
                                <h4>Address</h4>
                                <div class="adres-container">
                                    <div class="row">
                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <h5>Payment Address</h5>
                                            <p>123 Payment Street, Los Angeles, CA</p>
                                            <p>Mobile: 012-345-6789</p>
                                            <button class="btn">Edit Address</button>
                                        </div>
                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <h5>Shipping Address</h5>
                                            <p>123 Shipping Street, Los Angeles, CA</p>
                                            <p>Mobile: 012-345-6789</p>
                                            <button class="btn">Edit Address</button>
                                        </div>
                                    </div> 
                                </div>      
                            </div>
                        </div>
                    </div>        
                </div>    
            </div>
        </div>
    </div>
    <!-- My Account End -->
{% endblock body %}